

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
   
}
.main {
    overflow-x: hidden;
}


#news_bar {
    position: relative;
    display: block;
    background-color: black;
    width: 100%;
    height: auto;
    z-index: 1;
    overflow: hidden;
}

.news {
    color: white;
    font: 20px "Work Sans", Arial, sans-serif;
    width: 20%;
    margin: 2.5% 0 0 62%;
}




.social_icon {
    position: relative;
    width: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
    height: auto;
    z-index: 1;
    float: right;
}

.social_button:hover, .social_button:active {
    border: 5px solid orange;
    border-radius: 15%;
    z-index: 1;
}

#cover_image {
    position: fixed;
    width: 100%;
    height: 100%;
}

#navbar {
    position: sticky;
    top: 0%;
    display: flex;
    background-color: white;
    width: 100%;
    height: auto;
    z-index: 2;
    overflow: hidden;
}

#navigation {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    z-index: 2;
    width: 50%;
    height: auto;
    float: left;
   
    
}

.tabs {
    position: relative;
    list-style: none;
    text-decoration: unset;
    color: grey;
    font: 1.25rem "Comic Sans", Arial, sans-serif;
  
    padding-top: 50%;
}

.tabs:hover, .tabs:active {
    color:  black;
    text-decoration: underline;
}

#logo:hover, #logo:active {
    transform: scale(1.1);
}

.navigation li {
    position: relative;
    margin-top: 10%;
    float: left;
    overflow: hidden;
}

.navigation li + li {
    margin-left: 35px;
}

#logo {
    position: relative;
    margin: 2% 0% 2% 0%;
    width: 30%;
    height: auto;
    float: right;
    justify-content: center;
    overflow: hidden;
    
}

#contentbox {
    position: relative;
    background-color: indianred;
    margin: 0 auto;
    width: 100%;
    height: 80%;
    z-index: 0;
    overflow: hidden;
}

.subheader {
    font: 50px "Work Sans", "Merriweather Sans", Arial, sans-serif;
    font-weight: bold;
    color: white;
    display: block;
    margin: 2% auto;
    text-align: center;
   
}

.mediabox {
    position: relative;
    display: block;
    background-color: white;
    margin: 0 40% 0 50%;
    width: 40%;
    height: auto;
    overflow: hidden;
    z-index: 1;
}

.description {
    font: 18px "Open Sans", Arial, sans-serif;
    font-weight: lighter;
    margin: 5% 10%;
}

h1 {
    font: 40px  "Franklin Gothic Medium", Roboto, Verdana, Arial, sans-serif;
    color: black;
    position: relative;
    margin: 5%;
    font-weight: 500;
    text-align: center;
    z-index: 1;
}

.thumbnail {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.learn-more {
    font: 20px "Work Sans", Arial, sans-serif;
    float: right;
    margin: 2% 20%;
    text-decoration: underline;
}
